Connected to Python 3.12.5

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import keras

In [4]:
from keras import Sequential

In [5]:
from keras.layers import Dense

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
from sklearn.metrics import mean_squared_error

In [8]:
df= pd.read_csv(r'C:\Users\allwe\Downloads\concrete_data.csv')

In [9]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [10]:
df.tail()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [11]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   float64
 1   Blast Furnace Slag  1030 non-null   float64
 2   Fly Ash             1030 non-null   float64
 3   Water               1030 non-null   float64
 4   Superplasticizer    1030 non-null   float64
 5   Coarse Aggregate    1030 non-null   float64
 6   Fine Aggregate      1030 non-null   float64
 7   Age                 1030 non-null   int64
 8   Strength            1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.6 KB

In [13]:
df.value_counts()

Cement  Blast Furnace Slag  Fly Ash  Water  Superplasticizer  Coarse Aggregate  Fine Aggregate  Age  Strength
362.6   189.0               0.0      164.9  11.6              944.7             755.8           3    35.30       4
                                                                                                28   71.30       4
                                                                                                56   77.30       4
                                                                                                91   79.30       4
425.0   106.3               0.0      153.5  16.5              852.1             887.1           56   64.30       3
                                                                                                                ..
213.8   98.1                24.5     181.7  6.7               1066.0            785.5           3    13.18       1
                                                                                                14   17.84       1
                                                                                                28   40.23       1
                                                                                                56   47.13       1
540.0   0.0                 0.0      173.0  0.0               1125.0            613.0           270  74.17       1
Name: count, Length: 1005, dtype: int64

In [14]:
df.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [15]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1025    False
1026    False
1027    False
1028    False
1029    False
Length: 1030, dtype: bool

In [16]:
## Regression Using Keras

In [17]:
#seperate the target variable from the predicted variable

In [18]:
y= df.iloc[:,8].values

In [19]:
x=df.drop(['Strength'],axis=1)

In [20]:
x

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360
...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28

In [21]:
y

array([79.99, 61.89, 40.27, ..., 23.7 , 32.77, 32.4 ])

In [22]:
norm=(x-x.mean())/x.std()

In [23]:
ncol=norm.shape[1]

In [24]:
def Regession_model():
    keras1=Sequential()
    keras1.add(Dense(10, activation='relu', input_shape=(ncol,)))
    keras1.add(Dense(1))
    
    keras1.compile(optimizer='adam',loss='mean_squared_error')
    return keras1

In [25]:
keras1=Regession_model()

C:\Users\allwe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [26]:
mse_list=[]
for sequence in range(50):
    x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.30 )
    all=keras1.fit(x_train,y_train, epochs=50,verbose=0,validation_data=(x_test,y_test))
    mean_squared_error=all.history['val_loss'][-1]
    mse_list.append(mean_squared_error)
    print('Sequence*{}: mean_squared_error{}'.format(sequence+1, mean_squared_error))

Sequence*1: mean_squared_error111.74024200439453
Sequence*2: mean_squared_error116.63516235351562
Sequence*3: mean_squared_error127.73976135253906
Sequence*4: mean_squared_error108.84697723388672
Sequence*5: mean_squared_error128.0297393798828
Sequence*6: mean_squared_error99.70115661621094
Sequence*7: mean_squared_error113.57698822021484
Sequence*8: mean_squared_error115.54875946044922
Sequence*9: mean_squared_error128.84422302246094
Sequence*10: mean_squared_error133.72154235839844
Sequence*11: mean_squared_error108.30193328857422
Sequence*12: mean_squared_error112.19459533691406
Sequence*13: mean_squared_error107.3800048828125
Sequence*14: mean_squared_error111.55693817138672
Sequence*15: mean_squared_error107.46459197998047
Sequence*16: mean_squared_error116.81352233886719
Sequence*17: mean_squared_error124.75030517578125
Sequence*18: mean_squared_error99.95408630371094
Sequence*19: mean_squared_error111.13544464111328
Sequence*20: mean_squared_error99.02208709716797
Sequence*21: mean_squared_error128.02859497070312
Sequence*22: mean_squared_error97.76140594482422
Sequence*23: mean_squared_error90.83551788330078
Sequence*24: mean_squared_error97.48506927490234
Sequence*25: mean_squared_error61.106441497802734
Sequence*26: mean_squared_error64.05606079101562
Sequence*27: mean_squared_error56.17616653442383
Sequence*28: mean_squared_error50.97294998168945
Sequence*29: mean_squared_error52.41096496582031
Sequence*30: mean_squared_error55.45366287231445
Sequence*31: mean_squared_error44.7784538269043
Sequence*32: mean_squared_error49.789310455322266
Sequence*33: mean_squared_error50.914146423339844
Sequence*34: mean_squared_error48.89076614379883
Sequence*35: mean_squared_error46.455413818359375
Sequence*36: mean_squared_error47.71272659301758
Sequence*37: mean_squared_error46.60343551635742
Sequence*38: mean_squared_error50.59218215942383
Sequence*39: mean_squared_error52.0398063659668
Sequence*40: mean_squared_error50.32080078125
Sequence*41: mean_squared_error47.55213165283203
Sequence*42: mean_squared_error48.115394592285156
Sequence*43: mean_squared_error48.491920471191406
Sequence*44: mean_squared_error52.521697998046875
Sequence*45: mean_squared_error42.59804916381836
Sequence*46: mean_squared_error38.89220428466797
Sequence*47: mean_squared_error41.629886627197266
Sequence*48: mean_squared_error44.9825325012207
Sequence*49: mean_squared_error38.0765266418457
Sequence*50: mean_squared_error39.696170806884766

In [29]:
print('mean of mse {}'.format(np.mean(mse_list)))

mean of mse 79.35796905517579

In [30]:
print('mean of mse {}'.format(np.std(mse_list)))

mean of mse 32.990000446677456