Connected to Python 3.12.5

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
space=pd.read_csv(r'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv')

In [5]:
space.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857

In [6]:
space.count()

FlightNumber      90
Date              90
BoosterVersion    90
PayloadMass       90
Orbit             90
LaunchSite        90
Outcome           90
Flights           90
GridFins          90
Reused            90
Legs              90
LandingPad        64
Block             90
ReusedCount       90
Serial            90
Longitude         90
Latitude          90
dtype: int64

In [7]:
space['Outcome'].unique()

array(['None None', 'False Ocean', 'True Ocean', 'False ASDS',
       'None ASDS', 'True RTLS', 'True ASDS', 'False RTLS'], dtype=object)

In [8]:
space.describe()

,FlightNumber,PayloadMass,Flights,Block,ReusedCount,Longitude,Latitude
count,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000
mean,45.500000,6104.959412,1.788889,3.500000,1.655556,-86.366477,29.449963
std,26.124701,4694.671720,1.213172,1.595288,1.710254,14.149518,2.141306
min,1.000000,350.000000,1.000000,1.000000,0.000000,-120.610829,28.561857
25%,23.250000,2510.750000,1.000000,2.000000,0.000000,-80.603956,28.561857
50%,45.500000,4701.500000,1.000000,4.000000,1.000000,-80.577366,28.561857
75%,67.750000,8912.750000,2.000000,5.000000,3.000000,-80.577366,28.608058
max,90.000000,15600.000000,6.000000,5.000000,5.000000,-80.577366,34.632093

In [9]:
space.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     object
 2   BoosterVersion  90 non-null     object
 3   PayloadMass     90 non-null     float64
 4   Orbit           90 non-null     object
 5   LaunchSite      90 non-null     object
 6   Outcome         90 non-null     object
 7   Flights         90 non-null     int64
 8   GridFins        90 non-null     bool
 9   Reused          90 non-null     bool
 10  Legs            90 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           90 non-null     float64
 13  ReusedCount     90 non-null     int64
 14  Serial          90 non-null     object
 15  Longitude       90 non-null     float64
 16  Latitude        90 non-null     float64
dtypes: bool(3), float64(4), int64(3), object(7)
memory usage: 10.2+ KB

In [10]:
space.isnull().sum()/len(space)*100

FlightNumber       0.000000
Date               0.000000
BoosterVersion     0.000000
PayloadMass        0.000000
Orbit              0.000000
LaunchSite         0.000000
Outcome            0.000000
Flights            0.000000
GridFins           0.000000
Reused             0.000000
Legs               0.000000
LandingPad        28.888889
Block              0.000000
ReusedCount        0.000000
Serial             0.000000
Longitude          0.000000
Latitude           0.000000
dtype: float64

In [11]:
space['Outcome'].value_counts()

Outcome
True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: count, dtype: int64

In [12]:
space['LaunchSite'].value_counts()

LaunchSite
CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: count, dtype: int64

In [13]:
space['Orbit'].value_counts()

Orbit
GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: count, dtype: int64

In [14]:
space['LandingPad'].value_counts()

LandingPad
5e9e3032383ecb6bb234e7ca    35
5e9e3032383ecb267a34e7c7    13
5e9e3033383ecbb9e534e7cc    12
5e9e3032383ecb761634e7cb     2
5e9e3032383ecb554034e7c9     2
Name: count, dtype: int64

In [15]:
space['Serial'].value_counts()

Serial
B1049    6
B1051    5
B1059    4
B1056    4
B1048    4
B1046    4
B1060    3
B1058    3
B1047    3
B1031    2
B1036    2
B1021    2
B1039    2
B1035    2
B1041    2
B1029    2
B1040    2
B1045    2
B1032    2
B1042    1
B1043    1
B1038    1
B1044    1
B1037    1
B1050    1
B1054    1
B1034    1
B0003    1
B1030    1
B1013    1
B0007    1
B1003    1
B1004    1
B1005    1
B1006    1
B1007    1
B1008    1
B1011    1
B1010    1
B1012    1
B1015    1
B0005    1
B1016    1
B1018    1
B1019    1
B1017    1
B1020    1
B1022    1
B1023    1
B1025    1
B1026    1
B1028    1
B1062    1
Name: count, dtype: int64

In [16]:
space['BoosterVersion'].value_counts()

BoosterVersion
Falcon 9    90
Name: count, dtype: int64

In [17]:
space.isnull().sum()

FlightNumber       0
Date               0
BoosterVersion     0
PayloadMass        0
Orbit              0
LaunchSite         0
Outcome            0
Flights            0
GridFins           0
Reused             0
Legs               0
LandingPad        26
Block              0
ReusedCount        0
Serial             0
Longitude          0
Latitude           0
dtype: int64

In [18]:
space=space.dropna(axis=0)

In [19]:
space.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64 entries, 11 to 89
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    64 non-null     int64
 1   Date            64 non-null     object
 2   BoosterVersion  64 non-null     object
 3   PayloadMass     64 non-null     float64
 4   Orbit           64 non-null     object
 5   LaunchSite      64 non-null     object
 6   Outcome         64 non-null     object
 7   Flights         64 non-null     int64
 8   GridFins        64 non-null     bool
 9   Reused          64 non-null     bool
 10  Legs            64 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           64 non-null     float64
 13  ReusedCount     64 non-null     int64
 14  Serial          64 non-null     object
 15  Longitude       64 non-null     float64
 16  Latitude        64 non-null     float64
dtypes: bool(3), float64(4), int64(3), object(7)
memory usage: 7.7+ KB

In [20]:
# Safely creating a set of bad outcomes using only available indices

In [21]:
available_indices = [1, 3, 5]  # Adjusted to match the length of 'Outcome' column

In [22]:
bad_outcomes = set(space['Outcome'].iloc[available_indices])

In [23]:
print("Bad outcomes:", bad_outcomes)

Bad outcomes: {'True RTLS', 'False ASDS'}

In [24]:
# Enumerate over the values in the 'Outcome' column

In [27]:
for i, outcome in enumerate(space['Outcome']):
    print(i, outcome)

0 False ASDS
1 False ASDS
2 None ASDS
3 True RTLS
4 False ASDS
5 False ASDS
6 True ASDS
7 True ASDS
8 True ASDS
9 True RTLS
10 True ASDS
11 None ASDS
12 True ASDS
13 True RTLS
14 True ASDS
15 True RTLS
16 True RTLS
17 True ASDS
18 True ASDS
19 True RTLS
20 True ASDS
21 True RTLS
22 True ASDS
23 True ASDS
24 True ASDS
25 True RTLS
26 True RTLS
27 True ASDS
28 True ASDS
29 True ASDS
30 True ASDS
31 True ASDS
32 True ASDS
33 True RTLS
34 True ASDS
35 True ASDS
36 False RTLS
37 True ASDS
38 True ASDS
39 True ASDS
40 True ASDS
41 True RTLS
42 True RTLS
43 True ASDS
44 True ASDS
45 True ASDS
46 True ASDS
47 True ASDS
48 False ASDS
49 True RTLS
50 False ASDS
51 True ASDS
52 True ASDS
53 True ASDS
54 True ASDS
55 True ASDS
56 True ASDS
57 True ASDS
58 True RTLS
59 True ASDS
60 True ASDS
61 True ASDS
62 True ASDS
63 True ASDS

In [28]:
space['Date']=pd.to_datetime(space['Date'],format='ISO8601')
space.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64 entries, 11 to 89
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    64 non-null     int64
 1   Date            64 non-null     datetime64[ns]
 2   BoosterVersion  64 non-null     object
 3   PayloadMass     64 non-null     float64
 4   Orbit           64 non-null     object
 5   LaunchSite      64 non-null     object
 6   Outcome         64 non-null     object
 7   Flights         64 non-null     int64
 8   GridFins        64 non-null     bool
 9   Reused          64 non-null     bool
 10  Legs            64 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           64 non-null     float64
 13  ReusedCount     64 non-null     int64
 14  Serial          64 non-null     object
 15  Longitude       64 non-null     float64
 16  Latitude        64 non-null     float64
dtypes: bool(3), datetime64[ns](1), float64(4), int64(3), object(6)
memory usage: 7.7+ KB

In [29]:
space2 = pd.get_dummies(space, columns=['Outcome'])

In [30]:
space2

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Flights,GridFins,Reused,Legs,...,Block,ReusedCount,Serial,Longitude,Latitude,Outcome_False ASDS,Outcome_False RTLS,Outcome_None ASDS,Outcome_True ASDS,Outcome_True RTLS
11,12,2015-01-10,Falcon 9,2395.0,ISS,CCAFS SLC 40,1,True,False,True,...,1.0,0,B1012,-80.577366,28.561857,True,False,False,False,False
13,14,2015-04-14,Falcon 9,1898.0,ISS,CCAFS SLC 40,1,True,False,True,...,1.0,0,B1015,-80.577366,28.561857,True,False,False,False,False
15,16,2015-06-28,Falcon 9,2477.0,ISS,CCAFS SLC 40,1,True,False,True,...,1.0,0,B1018,-80.577366,28.561857,False,False,True,False,False
16,17,2015-12-22,Falcon 9,2034.0,LEO,CCAFS SLC 40,1,True,False,True,...,1.0,0,B1019,-80.577366,28.561857,False,False,False,False,True
17,18,2016-01-17,Falcon 9,553.0,PO,VAFB SLC 4E,1,True,False,True,...,1.0,0,B1017,-120.610829,34.632093,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.0,VLEO,KSC LC 39A,2,True,True,True,...,5.0,2,B1060,-80.603956,28.608058,False,False,False,True,False
86,87,2020-10-06,Falcon 9,15400.0,VLEO,KSC LC 39A,3,True,True,True,...,5.0,2,B1058,-80.603956,28.608058,False,False,False,True,False
87,88,2020-10-18,Falcon 9,15400.0,VLEO,KSC LC 39A,6,True,True,True,...,5.0,5,B1051,-80.603956,28.608058,False,False,False,True,False
88,89,2020-10-24,Falcon 9,15400.0,VLEO,CCAFS SLC 40,3,True,True,True,...,5.0,2,B1060,-80.577366,28.561857,False,False,False,True,False
89,90,2020-11-05,Falcon 9,3681.0,MEO,CCAFS SLC 40,1,True,False,True,...,5.0,0,B1062,-80.577366,28.561857,False,False,False,True,False

In [31]:
dummy_columns = space2.filter(like='Outcome_').columns

In [32]:
space2[dummy_columns] = space2[dummy_columns].astype(int)

In [33]:
space2

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Flights,GridFins,Reused,Legs,...,Block,ReusedCount,Serial,Longitude,Latitude,Outcome_False ASDS,Outcome_False RTLS,Outcome_None ASDS,Outcome_True ASDS,Outcome_True RTLS
11,12,2015-01-10,Falcon 9,2395.0,ISS,CCAFS SLC 40,1,True,False,True,...,1.0,0,B1012,-80.577366,28.561857,1,0,0,0,0
13,14,2015-04-14,Falcon 9,1898.0,ISS,CCAFS SLC 40,1,True,False,True,...,1.0,0,B1015,-80.577366,28.561857,1,0,0,0,0
15,16,2015-06-28,Falcon 9,2477.0,ISS,CCAFS SLC 40,1,True,False,True,...,1.0,0,B1018,-80.577366,28.561857,0,0,1,0,0
16,17,2015-12-22,Falcon 9,2034.0,LEO,CCAFS SLC 40,1,True,False,True,...,1.0,0,B1019,-80.577366,28.561857,0,0,0,0,1
17,18,2016-01-17,Falcon 9,553.0,PO,VAFB SLC 4E,1,True,False,True,...,1.0,0,B1017,-120.610829,34.632093,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.0,VLEO,KSC LC 39A,2,True,True,True,...,5.0,2,B1060,-80.603956,28.608058,0,0,0,1,0
86,87,2020-10-06,Falcon 9,15400.0,VLEO,KSC LC 39A,3,True,True,True,...,5.0,2,B1058,-80.603956,28.608058,0,0,0,1,0
87,88,2020-10-18,Falcon 9,15400.0,VLEO,KSC LC 39A,6,True,True,True,...,5.0,5,B1051,-80.603956,28.608058,0,0,0,1,0
88,89,2020-10-24,Falcon 9,15400.0,VLEO,CCAFS SLC 40,3,True,True,True,...,5.0,2,B1060,-80.577366,28.561857,0,0,0,1,0
89,90,2020-11-05,Falcon 9,3681.0,MEO,CCAFS SLC 40,1,True,False,True,...,5.0,0,B1062,-80.577366,28.561857,0,0,0,1,0

In [34]:
outcome_counts = pd.get_dummies(space['Outcome']).count()

In [35]:
print("Outcome counts:\n", outcome_counts)

Outcome counts:
 False ASDS    64
False RTLS    64
None ASDS     64
True ASDS     64
True RTLS     64
dtype: int64

In [36]:
landing_class = [0 if outcome in bad_outcomes else 1 for outcome in space['Outcome']]

In [37]:
# Assign it to the landing_class variable

In [38]:
space['landing_class'] = landing_class

In [39]:
space['landing_class'].value_counts()

landing_class
1    44
0    20
Name: count, dtype: int64

In [40]:
space2

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Flights,GridFins,Reused,Legs,...,Block,ReusedCount,Serial,Longitude,Latitude,Outcome_False ASDS,Outcome_False RTLS,Outcome_None ASDS,Outcome_True ASDS,Outcome_True RTLS
11,12,2015-01-10,Falcon 9,2395.0,ISS,CCAFS SLC 40,1,True,False,True,...,1.0,0,B1012,-80.577366,28.561857,1,0,0,0,0
13,14,2015-04-14,Falcon 9,1898.0,ISS,CCAFS SLC 40,1,True,False,True,...,1.0,0,B1015,-80.577366,28.561857,1,0,0,0,0
15,16,2015-06-28,Falcon 9,2477.0,ISS,CCAFS SLC 40,1,True,False,True,...,1.0,0,B1018,-80.577366,28.561857,0,0,1,0,0
16,17,2015-12-22,Falcon 9,2034.0,LEO,CCAFS SLC 40,1,True,False,True,...,1.0,0,B1019,-80.577366,28.561857,0,0,0,0,1
17,18,2016-01-17,Falcon 9,553.0,PO,VAFB SLC 4E,1,True,False,True,...,1.0,0,B1017,-120.610829,34.632093,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.0,VLEO,KSC LC 39A,2,True,True,True,...,5.0,2,B1060,-80.603956,28.608058,0,0,0,1,0
86,87,2020-10-06,Falcon 9,15400.0,VLEO,KSC LC 39A,3,True,True,True,...,5.0,2,B1058,-80.603956,28.608058,0,0,0,1,0
87,88,2020-10-18,Falcon 9,15400.0,VLEO,KSC LC 39A,6,True,True,True,...,5.0,5,B1051,-80.603956,28.608058,0,0,0,1,0
88,89,2020-10-24,Falcon 9,15400.0,VLEO,CCAFS SLC 40,3,True,True,True,...,5.0,2,B1060,-80.577366,28.561857,0,0,0,1,0
89,90,2020-11-05,Falcon 9,3681.0,MEO,CCAFS SLC 40,1,True,False,True,...,5.0,0,B1062,-80.577366,28.561857,0,0,0,1,0

In [41]:
from sklearn.preprocessing import  LabelEncoder

In [42]:
en = LabelEncoder()

In [43]:
columns_to_encode = ['GridFins', 'Reused', 'Legs']

In [44]:
for col in columns_to_encode:
    space2[col] = en.fit_transform(space2[col])

In [45]:
space2

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Flights,GridFins,Reused,Legs,...,Block,ReusedCount,Serial,Longitude,Latitude,Outcome_False ASDS,Outcome_False RTLS,Outcome_None ASDS,Outcome_True ASDS,Outcome_True RTLS
11,12,2015-01-10,Falcon 9,2395.0,ISS,CCAFS SLC 40,1,0,0,0,...,1.0,0,B1012,-80.577366,28.561857,1,0,0,0,0
13,14,2015-04-14,Falcon 9,1898.0,ISS,CCAFS SLC 40,1,0,0,0,...,1.0,0,B1015,-80.577366,28.561857,1,0,0,0,0
15,16,2015-06-28,Falcon 9,2477.0,ISS,CCAFS SLC 40,1,0,0,0,...,1.0,0,B1018,-80.577366,28.561857,0,0,1,0,0
16,17,2015-12-22,Falcon 9,2034.0,LEO,CCAFS SLC 40,1,0,0,0,...,1.0,0,B1019,-80.577366,28.561857,0,0,0,0,1
17,18,2016-01-17,Falcon 9,553.0,PO,VAFB SLC 4E,1,0,0,0,...,1.0,0,B1017,-120.610829,34.632093,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.0,VLEO,KSC LC 39A,2,0,1,0,...,5.0,2,B1060,-80.603956,28.608058,0,0,0,1,0
86,87,2020-10-06,Falcon 9,15400.0,VLEO,KSC LC 39A,3,0,1,0,...,5.0,2,B1058,-80.603956,28.608058,0,0,0,1,0
87,88,2020-10-18,Falcon 9,15400.0,VLEO,KSC LC 39A,6,0,1,0,...,5.0,5,B1051,-80.603956,28.608058,0,0,0,1,0
88,89,2020-10-24,Falcon 9,15400.0,VLEO,CCAFS SLC 40,3,0,1,0,...,5.0,2,B1060,-80.577366,28.561857,0,0,0,1,0
89,90,2020-11-05,Falcon 9,3681.0,MEO,CCAFS SLC 40,1,0,0,0,...,5.0,0,B1062,-80.577366,28.561857,0,0,0,1,0

In [46]:
Orbit=pd.get_dummies(space2['Orbit']).astype(int)

In [47]:
space2=pd.concat([space2,Orbit], axis=1)

In [48]:
space2.drop(['Orbit'],axis=1, inplace=True)

In [49]:
space2

,FlightNumber,Date,BoosterVersion,PayloadMass,LaunchSite,Flights,GridFins,Reused,Legs,LandingPad,...,Outcome_True RTLS,GEO,GTO,HEO,ISS,LEO,MEO,PO,SSO,VLEO
11,12,2015-01-10,Falcon 9,2395.0,CCAFS SLC 40,1,0,0,0,5e9e3032383ecb761634e7cb,...,0,0,0,0,1,0,0,0,0,0
13,14,2015-04-14,Falcon 9,1898.0,CCAFS SLC 40,1,0,0,0,5e9e3032383ecb761634e7cb,...,0,0,0,0,1,0,0,0,0,0
15,16,2015-06-28,Falcon 9,2477.0,CCAFS SLC 40,1,0,0,0,5e9e3032383ecb6bb234e7ca,...,0,0,0,0,1,0,0,0,0,0
16,17,2015-12-22,Falcon 9,2034.0,CCAFS SLC 40,1,0,0,0,5e9e3032383ecb267a34e7c7,...,1,0,0,0,0,1,0,0,0,0
17,18,2016-01-17,Falcon 9,553.0,VAFB SLC 4E,1,0,0,0,5e9e3033383ecbb9e534e7cc,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.0,KSC LC 39A,2,0,1,0,5e9e3032383ecb6bb234e7ca,...,0,0,0,0,0,0,0,0,0,1
86,87,2020-10-06,Falcon 9,15400.0,KSC LC 39A,3,0,1,0,5e9e3032383ecb6bb234e7ca,...,0,0,0,0,0,0,0,0,0,1
87,88,2020-10-18,Falcon 9,15400.0,KSC LC 39A,6,0,1,0,5e9e3032383ecb6bb234e7ca,...,0,0,0,0,0,0,0,0,0,1
88,89,2020-10-24,Falcon 9,15400.0,CCAFS SLC 40,3,0,1,0,5e9e3033383ecbb9e534e7cc,...,0,0,0,0,0,0,0,0,0,1
89,90,2020-11-05,Falcon 9,3681.0,CCAFS SLC 40,1,0,0,0,5e9e3032383ecb6bb234e7ca,...,0,0,0,0,0,0,1,0,0,0

In [50]:
LaunchSite=pd.get_dummies(space2['LaunchSite']).astype(int)

In [51]:
space2=pd.concat([space2,LaunchSite], axis=1)

In [52]:
space2.drop(['LaunchSite'],axis=1, inplace=True)

In [53]:
space2

,FlightNumber,Date,BoosterVersion,PayloadMass,Flights,GridFins,Reused,Legs,LandingPad,Block,...,HEO,ISS,LEO,MEO,PO,SSO,VLEO,CCAFS SLC 40,KSC LC 39A,VAFB SLC 4E
11,12,2015-01-10,Falcon 9,2395.0,1,0,0,0,5e9e3032383ecb761634e7cb,1.0,...,0,1,0,0,0,0,0,1,0,0
13,14,2015-04-14,Falcon 9,1898.0,1,0,0,0,5e9e3032383ecb761634e7cb,1.0,...,0,1,0,0,0,0,0,1,0,0
15,16,2015-06-28,Falcon 9,2477.0,1,0,0,0,5e9e3032383ecb6bb234e7ca,1.0,...,0,1,0,0,0,0,0,1,0,0
16,17,2015-12-22,Falcon 9,2034.0,1,0,0,0,5e9e3032383ecb267a34e7c7,1.0,...,0,0,1,0,0,0,0,1,0,0
17,18,2016-01-17,Falcon 9,553.0,1,0,0,0,5e9e3033383ecbb9e534e7cc,1.0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.0,2,0,1,0,5e9e3032383ecb6bb234e7ca,5.0,...,0,0,0,0,0,0,1,0,1,0
86,87,2020-10-06,Falcon 9,15400.0,3,0,1,0,5e9e3032383ecb6bb234e7ca,5.0,...,0,0,0,0,0,0,1,0,1,0
87,88,2020-10-18,Falcon 9,15400.0,6,0,1,0,5e9e3032383ecb6bb234e7ca,5.0,...,0,0,0,0,0,0,1,0,1,0
88,89,2020-10-24,Falcon 9,15400.0,3,0,1,0,5e9e3033383ecbb9e534e7cc,5.0,...,0,0,0,0,0,0,1,1,0,0
89,90,2020-11-05,Falcon 9,3681.0,1,0,0,0,5e9e3032383ecb6bb234e7ca,5.0,...,0,0,0,1,0,0,0,1,0,0